{%- if collection.metafields.collection.is_nav != false -%}
    <div class="card-wrapper animate-arrow">
        <div class="card">
          <div class="card__inner">
    
          <div class="card__content">        
            <div class="card__information">
              <h3 class="card__heading">
                <a href="{{ card_collection.url }}" class="full-unstyled-link">
                  {%- if card_collection.title != blank -%}
                    {{- card_collection.title | escape -}}
                  {%- else -%}
                    {{ 'onboarding.collection_title' | t }}
                  {%- endif -%}
                  {%- if card_collection.description == blank -%}<span class="icon-wrap">{% render 'icon-arrow' %}</span>{% endif %}
                </a>
              </h3>
              {%- if card_collection.description != blank -%}
                <p class="card__caption">
                  {{- card_collection.description | strip_html | truncatewords: 12 -}}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>
                </p>
              {%- endif -%}
            </div>   
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}